<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gibox.baseprojectmvvmandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseProjectMVVMandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ui.objectdetection.ObjectDetectionActivity"
            android:exported="false" />
        <activity android:name=".view.ui.watermark.ActivityImageView"
            android:exported="true" />
        <activity
            android:name=".view.ui.watermark.VideoViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.watermark.GaleryActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face,ocr" />

        <activity
            android:name=".view.ui.textrecognition.TextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.facedetection.FaceDetectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.watermark.WatermarkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.home.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.map.MapsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.map.MapSatelliteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.listuser.ListUserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gibox.baseprojectmvvmandroid.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>